In [9]:
import numpy as np
import matplotlib.pylab as plt
import pandas as pd
from scipy import stats
import random
import math
import datetime
%matplotlib inline

In [10]:
import dask.dataframe as dd

In [11]:
colNames=['Date','Source','Target','CAMEOCode','NumEvents','NumArts','QuadClass','Goldstein','SourceGeoType','SourceGeoLat','SourceGeoLong','TargetGeoType','TargetGeoLat','TargetGeoLong','ActionGeoType','ActionGeoLat','ActionGeoLong']

In [12]:
dtypes={'Date':np.int32,'Source':np.str,'Target':np.str,'CAMEOCode':np.float16,'NumEvents':np.int16,'NumArts':np.int8,'QuadClass':np.int8,'Goldstein':np.float16,'SourceGeoType':np.float16,'SourceGeoLat':np.float16,'SourceGeoLong':np.float16,'TargetGeoType':np.float16,'TargetGeoLat':np.float16,'TargetGeoLong':np.float16,'ActionGeoType':np.float16,'ActionGeoLat':np.float16,'ActionGeoLong':np.float16}

In [13]:
df = dd.read_csv(r"C:\Users\Andrews Lab\CSCI4502\GDELT.txt", sep="\t", names = colNames, dtype = dtypes, skiprows = 1)

In [14]:
df.tail()

,Date,Source,Target,CAMEOCode,NumEvents,NumArts,QuadClass,Goldstein,SourceGeoType,SourceGeoLat,SourceGeoLong,TargetGeoType,TargetGeoLat,TargetGeoLong,ActionGeoType,ActionGeoLat,ActionGeoLong
681508,20140218,USA,USAMED,42.0,2,10,1,1.900391,3.0,38.90625,-77.0625,4.0,19.28125,-99.6875,4.0,19.28125,-99.6875
681509,20140218,VEN,JUD,20.0,1,4,1,3.000000,3.0,38.90625,-77.0625,3.0,38.90625,-77.0625,4.0,19.28125,-99.6875
681510,20140218,VEN,JUD,51.0,1,6,1,3.400391,4.0,10.50000,-66.9375,4.0,10.50000,-66.9375,4.0,10.50000,-66.9375
681511,20140218,VENOPP,VENGOV,141.0,1,1,3,-6.500000,4.0,10.50000,-66.9375,4.0,10.50000,-66.9375,4.0,10.50000,-66.9375
681512,20140218,VEN,USAGOV,114.0,1,5,3,-2.000000,4.0,10.50000,-66.9375,4.0,10.50000,-66.9375,4.0,10.50000,-66.9375

In [15]:
df.dtypes

Date               int32
Source            object
Target            object
CAMEOCode        float16
NumEvents          int16
NumArts             int8
QuadClass           int8
Goldstein        float16
SourceGeoType    float16
SourceGeoLat     float16
SourceGeoLong    float16
TargetGeoType    float16
TargetGeoLat     float16
TargetGeoLong    float16
ActionGeoType    float16
ActionGeoLat     float16
ActionGeoLong    float16
dtype: object

In [60]:
srcCount = df.Source.value_counts().compute()

In [61]:
print(srcCount)

GOV                6010092
USA                5464739
COP                1983510
MED                1722385
RUS                1716306
BUS                1668919
GBR                1534492
MIL                1462459
CHN                1411817
CVL                1352427
ISR                1330888
LEG                1322498
JUD                1252119
USAGOV             1227550
EDU                1107509
IRN                1030853
FRA                 944207
PAK                 902266
IRQ                 864633
OPP                 783877
DEU                 743619
AUS                 719248
JPN                 709783
AFR                 708431
AFG                 686615
TUR                 683704
CAN                 683519
EGY                 682600
SYR                 596195
PSE                 585662
                    ...
MNCUAFMIL                1
COLOPPUAF                1
MNCRUSMEDELI             1
MNCSEACVL                1
harMOS                   1
MNCSGPLAB                1
COLINS                   1
MNCSWEMEDGOV             1
COLGOVUAF                1
harCVL                   1
MNCTWNMEDLEG             1
MNCTWNMEDMIL             1
COLGOVJUDELI             1
sinJUD                   1
MNCUSAAGRCOP             1
MNCUSAMEDOPP             1
MNCUSAAGREDU             1
MNCUSAAGRMIL             1
COLGOVDEVGOVENV          1
haiJUD                   1
MNCUSAEDUBUS             1
MNCUSAGOVMIL             1
gunUAF                   1
MNCUSAHLHCOP             1
MNCUSAHLHMIL             1
MNCUSAHLHREL             1
gunREL                   1
gunLAB                   1
MNCUSAMEDHLH             1
MYSGOVHLHELI             1
Name: Source, Length: 22107, dtype: int64

In [40]:
Pre1991 = df.where(df["Date"] < 19911231, np.nan)

In [39]:
Post1991 = df.where(df["Date"] > 19920000, np.nan)

In [42]:
stalin1 = Pre1991.where(Pre1991["Source"] == "RUS")
stalin2 = Pre1991.where(Pre1991["Target"] == "RUS")
putin1 = Post1991.where(Post1991["Source"] == "RUS")
putin2 = Post1991.where(Post1991["Target"] == "RUS")

In [43]:
r1 = stalin1.QuadClass.value_counts().compute()

In [47]:
r2 = stalin2.QuadClass.value_counts().compute()

In [48]:
r3 = putin1.QuadClass.value_counts().compute()

In [49]:
r4 = putin2.QuadClass.value_counts().compute()

In [59]:
print(r1)
print(r2)
print(r3)
print(r4)

1.0    115537
3.0     19222
4.0     15250
2.0     14539
Name: QuadClass, dtype: int64
1.0    121105
3.0     23132
4.0     14340
2.0     13344
Name: QuadClass, dtype: int64
1.0    1014943
3.0     201005
4.0     180469
2.0     155264
Name: QuadClass, dtype: int64
1.0    905308
3.0    161761
4.0    141591
2.0    120385
Name: QuadClass, dtype: int64

In [64]:
t1 = stalin1.where(stalin1["Target"] == "USA")
t2 = stalin2.where(stalin2["Source"] == "USA")
t3 = putin1.where(putin1["Target"] == "USA")
t4 = putin2.where(putin2["Source"] == "USA")

In [65]:
usa1 = t1.QuadClass.value_counts().compute()
#soviet union interacts with usa

In [66]:
usa2 = t2.QuadClass.value_counts().compute()
#usa interacts with soviet union

In [67]:
usa3 = t3.QuadClass.value_counts().compute()
#russia interacts with usa

In [68]:
usa4 = t4.QuadClass.value_counts().compute()
#usa interacts with russia

In [70]:
print(usa1)
print(usa2)
print(usa3)
print(usa4)

1.0    10947
3.0     2916
4.0     1211
2.0     1115
Name: QuadClass, dtype: int64
1.0    11578
3.0     2807
2.0     1434
4.0     1202
Name: QuadClass, dtype: int64
1.0    45641
3.0    12979
2.0     9404
4.0     8390
Name: QuadClass, dtype: int64
1.0    44723
3.0    11084
2.0     8240
4.0     8091
Name: QuadClass, dtype: int64

In [117]:
#SummerOlympicsList
#1980, RUS
RUSolypre = df.where(df.Date > 19790000).where(df.Date < 19800000).where(df.Source == 'RUS').QuadClass.value_counts().compute()
RUSoly = df.where(df.Date > 19800000).where(df.Date < 19810000).where(df.Source == 'RUS').QuadClass.value_counts().compute()
RUSolypost = df.where(df.Date > 19810000).where(df.Date < 19820000).where(df.Source == 'RUS').QuadClass.value_counts().compute()

In [119]:
#1984, USA
USAolypre = df.where(df.Date > 19830000).where(df.Date < 19840000).where(df.Source == 'USA').QuadClass.value_counts().compute()
USAoly = df.where(df.Date > 19840000).where(df.Date < 19850000).where(df.Source == 'USA').QuadClass.value_counts().compute()
USAolypost = df.where(df.Date > 19850000).where(df.Date < 19860000).where(df.Source == 'USA').QuadClass.value_counts().compute()

In [120]:
#1988, KOR
KORolypre = df.where(df.Date > 19870000).where(df.Date < 19880000).where(df.Source == 'KOR').QuadClass.value_counts().compute()
KORoly = df.where(df.Date > 19880000).where(df.Date < 19890000).where(df.Source == 'KOR').QuadClass.value_counts().compute()
KORolypost = df.where(df.Date > 19890000).where(df.Date < 19900000).where(df.Source == 'KOR').QuadClass.value_counts().compute()

In [123]:
#1992, ESP
ESPolypre = df.where(df.Date > 19910000).where(df.Date < 19920000).where(df.Source == 'ESP').QuadClass.value_counts().compute()
ESPoly = df.where(df.Date > 19920000).where(df.Date < 19930000).where(df.Source == 'ESP').QuadClass.value_counts().compute()
ESPolypost = df.where(df.Date > 19930000).where(df.Date < 19940000).where(df.Source == 'ESP').QuadClass.value_counts().compute()

In [125]:
#1996, USA
USAolypre2 = df.where(df.Date > 19950000).where(df.Date < 19960000).where(df.Source == 'USA').QuadClass.value_counts().compute()
USAoly2 = df.where(df.Date > 19960000).where(df.Date < 19970000).where(df.Source == 'USA').QuadClass.value_counts().compute()
USAolypost2 = df.where(df.Date > 19970000).where(df.Date < 19980000).where(df.Source == 'USA').QuadClass.value_counts().compute()

In [126]:
#2000, AUS
AUSolypre = df.where(df.Date > 19990000).where(df.Date < 20000000).where(df.Source == 'AUS').QuadClass.value_counts().compute()
AUSoly = df.where(df.Date > 20000000).where(df.Date < 20010000).where(df.Source == 'AUS').QuadClass.value_counts().compute()
AUSolypost = df.where(df.Date > 20010000).where(df.Date < 20020000).where(df.Source == 'AUS').QuadClass.value_counts().compute()

In [129]:
#2004, GRC
GRColypre = df.where(df.Date > 20030000).where(df.Date < 20040000).where(df.Source == 'GRC').QuadClass.value_counts().compute()
GRColy = df.where(df.Date > 20040000).where(df.Date < 20050000).where(df.Source == 'GRC').QuadClass.value_counts().compute()
GRColypost = df.where(df.Date > 20050000).where(df.Date < 20060000).where(df.Source == 'GRC').QuadClass.value_counts().compute()

In [130]:
#2008, CHN
CHNolypre = df.where(df.Date > 20070000).where(df.Date < 20080000).where(df.Source == 'CHN').QuadClass.value_counts().compute()
CHNoly = df.where(df.Date > 20080000).where(df.Date < 20090000).where(df.Source == 'CHN').QuadClass.value_counts().compute()
CHNolypost = df.where(df.Date > 20090000).where(df.Date < 20100000).where(df.Source == 'CHN').QuadClass.value_counts().compute()

In [133]:
#2012, GBR
GBRolypre = df.where(df.Date > 20110000).where(df.Date < 20120000).where(df.Source == 'GBR').QuadClass.value_counts().compute()
GBRoly = df.where(df.Date > 20120000).where(df.Date < 20130000).where(df.Source == 'GBR').QuadClass.value_counts().compute()
GBRolypost = df.where(df.Date > 20130000).where(df.Date < 20140000).where(df.Source == 'GBR').QuadClass.value_counts().compute()

In [118]:
print(RUSolypre)
print(RUSoly)
print(RUSolypost)

1.0    4516
3.0     670
2.0     580
4.0     490
Name: QuadClass, dtype: int64
1.0    6448
3.0    1405
4.0    1295
2.0    1076
Name: QuadClass, dtype: int64
1.0    7148
3.0    1634
4.0    1116
2.0     876
Name: QuadClass, dtype: int64

In [121]:
print(USAolypre)
print(USAoly)
print(USAolypost)

1.0    18819
3.0     4305
4.0     3700
2.0     2881
Name: QuadClass, dtype: int64
1.0    18054
3.0     4061
4.0     3412
2.0     2889
Name: QuadClass, dtype: int64
1.0    21108
3.0     4444
4.0     3875
2.0     3185
Name: QuadClass, dtype: int64

In [122]:
print(KORolypre)
print(KORoly)
print(KORolypost)

1.0    1133
4.0     365
3.0     335
2.0     134
Name: QuadClass, dtype: int64
1.0    1017
3.0     281
4.0     243
2.0      98
Name: QuadClass, dtype: int64
1.0    1238
3.0     346
4.0     305
2.0     107
Name: QuadClass, dtype: int64

In [124]:
print(ESPolypre)
print(ESPoly)
print(ESPolypost)

1.0    1675
4.0     192
3.0     157
2.0     121
Name: QuadClass, dtype: int64
1.0    924
4.0    111
3.0     91
2.0     77
Name: QuadClass, dtype: int64
1.0    1114
4.0     177
2.0     145
3.0     118
Name: QuadClass, dtype: int64

In [127]:
print(USAolypre2)
print(USAoly2)
print(USAolypost2)

1.0    26837
3.0     5145
4.0     4855
2.0     4059
Name: QuadClass, dtype: int64
1.0    37218
3.0     7855
4.0     6099
2.0     5812
Name: QuadClass, dtype: int64
1.0    44275
3.0     8480
2.0     6362
4.0     5976
Name: QuadClass, dtype: int64

In [128]:
print(AUSolypre)
print(AUSoly)
print(AUSolypost)

1.0    5964
2.0    1201
4.0    1186
3.0    1106
Name: QuadClass, dtype: int64
1.0    5120
3.0     932
4.0     719
2.0     712
Name: QuadClass, dtype: int64
1.0    5925
3.0    1163
2.0     973
4.0     962
Name: QuadClass, dtype: int64

In [131]:
print(GRColypre)
print(GRColy)
print(GRColypost)

1.0    5645
3.0     886
4.0     808
2.0     515
Name: QuadClass, dtype: int64
1.0    3264
3.0     856
4.0     415
2.0     281
Name: QuadClass, dtype: int64
1.0    2185
3.0     566
4.0     452
2.0     260
Name: QuadClass, dtype: int64

In [132]:
print(CHNolypre)
print(CHNoly)
print(CHNolypost)

1.0    44173
3.0     7693
2.0     7608
4.0     6116
Name: QuadClass, dtype: int64
1.0    54038
3.0    10321
2.0     9607
4.0     8363
Name: QuadClass, dtype: int64
1.0    82982
2.0    15428
3.0    15312
4.0    12815
Name: QuadClass, dtype: int64

In [134]:
print(GBRolypre)
print(GBRoly)
print(GBRolypost)

1.0    94773
4.0    22773
3.0    22678
2.0    20014
Name: QuadClass, dtype: int64
1.0    103958
4.0     25156
3.0     24515
2.0     21417
Name: QuadClass, dtype: int64
1.0    121750
3.0     29362
4.0     29018
2.0     26740
Name: QuadClass, dtype: int64